
<div class="wrapper">
    <h1 class="title">Ejemplos Angular v16</h1>
    <nav>
      <a routerLink="/ejemplo01" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 1</a>
      <a routerLink="/ejemplo02" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 2</a>
      <a routerLink="/ejemplo03" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 3</a>
      <a routerLink="/ejemplo04" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 4</a>
      <a routerLink="/ejemplo05" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 5</a>
      <a routerLink="/ejemplo06" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 6</a>
      <a routerLink="/ejemplo07" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 7</a>
      <a routerLink="/ejemplo08" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 8</a>
      <a routerLink="/ejemplo09" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 9</a>
      <a routerLink="/ejemplo10" routerLinkActive="active" ariaCurrentWhenActive="page">Ejemplo 10</a>
    </nav>
    <div [@routeAnimation]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
    <router-outlet name="popup"></router-outlet>
  </div>